@model Ticket_System___Bichota_Concert.DAL.Entities.Ticket

@{
    ViewData["Title"] = "Edit";
}

<h4>Tiquete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CodTicket" class="control-label"></label>
                <input asp-for="CodTicket" class="form-control" />
                <span asp-validation-for="CodTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UseDate" class="control-label"></label>
                <input asp-for="UseDate" class="form-control" />
                <span asp-validation-for="UseDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsUsed" /> @Html.DisplayNameFor(model => model.IsUsed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EntranceGate" class="control-label"></label>
                <select asp-for="EntranceGate" class="form-control" multiple>
                    <option value="Norte">Norte</option>
                    <option value="Sur">Sur</option>
                    <option value="Oriental">Oriental</option>
                    <option value="Occidental">Occidental</option>
                </select>
                <span asp-validation-for="EntranceGate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
